<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vehicle Types</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>

  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>

<div padding>
  <button ion-button block style="background-color: #C1272D;">Select Vehicle</button>
</div>

  <div class="row">
  <div class="types">
   <img src="../../assets/imgs/ClassAmotorhome.png" height="120" width="120"/>
  </div>
    <div class="types">
      <img src="../../assets/imgs/ClassBmotorhome.png" height="120" width="120"/>
    </div>
    <div class="types">
      <img src="../../assets/imgs/ClassCmotorhome.png" height="120" width="120"/>
    </div>
  </div>

  <div class="row">
    <div class="types">
      <img src="../../assets/imgs/FifthWheel.png" height="120" width="120"/>
    </div>
    <div class="types">
      <img src="../../assets/imgs/LightTruck.png" height="120" width="120"/>
    </div>
    <div class="types">
      <img src="../../assets/imgs/Popupcamper.png" height="120" width="120"/>
    </div>
  </div>

  <div class="row">
    <div class="types">
      <img src="../../assets/imgs/SemiTrailer.png" height="120" width="120"/>
    </div>
    <div class="types">
      <img src="../../assets/imgs/TeardropCamper.png" height="120" width="120"/>
    </div>
    <div class="types">
      <img src="../../assets/imgs/TravelTrailer.png" height="120" width="120"/>
    </div>
  </div>

</ion-content>
